*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif;

}

p,a {
    font-family: 'Roboto', sans-serif;
}

.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1330px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.clear {
    clear: both;
}

.active {
    width: 40% !important;
    z-index: 20 !important;
}

.menu-hide {
    display: inline-block !important;
}

/*sidebar css*/
section#sidebar {
    width: 20%;
    background-image: linear-gradient(rgba(155, 60, 183, 0.9), rgba(255, 57, 111, 0.9)),url('../images/01.jpg');
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    height: 100%;
    transition: all 1s ease;
    z-index: 99;
}

.sidebar-brand {
    padding: 50px 40px;
}

.sidebar-menu ul li a{
    display: block;
    color: #fff;
    padding: 10px 40px;
}

.sidebar-menu{
    margin-top: 50px;
}

.sidebar-menu li{
    transition: all 0.5s ease;
}

.sidebar-menu li:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

.sidebar-menu ul li span{
    margin-top: 10px;
}
/*main-content*/
#main-content{
    width: 80%;
    float: right;
}

.main-header {
    position: fixed;
    background-color: #fff;
    box-shadow: 10px 10px 20px #bbb;
    width: 100%;
}

.header-left {
    float: left;
    width: 33%;
    padding: 20px;
}

.header-left img{
    width: 13%;
    float: left;
    padding-right: 10px;
}

.header-left p{
    color: #bbb;
}

.search-bar {
    width: 50%;
    border-radius: 20px;
    padding: 8px 12px;
    border: 2px solid #bbb;
    transition: width 1s ease;
}

.fa.fa-search{
    background-color: #1e90ff;
    color: #fff;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-top-right-radius: 50px 50px;
    border-bottom-right-radius: 50px 50px;
    margin-left: -35px;
}

.search-bar:focus {
    outline: none;
    border: 2px solid #1e90ff;
    width: 95%;
}

.pro-table{
    margin-top: 85px;
    width: 100%;
    float: left;
    background-color: #fff;
    box-shadow: 10px 10px 20px #bbb;
    padding: 15px;
}

table td{
    padding: 20px 0px 0px 0px;
}

table th{
    text-align: left;
}

.cus-table{
    float: right;
    width: 30%;
    background-color: #fff;
    box-shadow: 10px 10px 20px #bbb;
    padding: 15px;
}

.content-pro-par{
    margin: 6% 2% 0% 2%;
}

span.rev-span{
    width: 10px;
    height: 10px;
    background-color: #fd5a5e;
    display: inline-block;
    border-radius: 10px;
    margin: 8px;
}

span.progress-span{
    width: 10px;
    height: 10px;
    background-color: #523a71;
    display: inline-block;
    border-radius: 10px;
    margin: 8px;
}
span.pending-span{
    width: 10px;
    height: 10px;
    background-color: #c2420a;
    display: inline-block;
    border-radius: 10px;
    margin: 8px;
}

.rec-h{
    float: left;
}

.rec-btn{
    float: right;
}

.rec-btn button{
    background-color: #fd5c62;
    border: none;
    color: #fff;
    border-radius: 8px;
    width: 70px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}

.td-img img{
    width: 35px;
}

.td-cnt-i i{
   color: #fd5c62;
   padding: 8px; 
}

@media screen and (max-width: 768px){
    .card-box{
        float: none;
        width: 100%;
        margin: 0 auto 20px auto;
        padding: 10px 20px;
    }

    .main-content-info{
        margin-top: 130px;
    }

    .cus-num:after {
        top: 10px;
    }

    .pro-table{
        float: none;
        width: 100%;
        margin: 0 auto;
    }
    
    .cus-table{
        float: none;
        width: 100%;
        margin: 20px auto;
    }

    table td{
        font-size: 14px;
    }

    .rec-h h2{
        font-size: 18px;
    }

    .rec-btn button {
        font-size: 11px;
        width: 50px;
        height: 40px;
        line-height: 40px;
    }

    .search-div{
        display: none;
    }

    .header-left{
        float: left;
        width: 50%;
    }

    .header-left h2{
        font-size: 20px;
    }

    section#sidebar{
        width: 16%;
    }

    section#main-content {
        width: 84%;
    }

    .sidebar-menu ul li a{
        padding: 10px 22px;
    }

    .sidebar-menu ul li span {
        display: none;
    }

    .sidebar-brand span{
        display: none;
    }

    .sidebar-brand{
        padding: 20px 0 20px 20px;
    }
    
}

.analytics-card {
    background: #fff;
    padding: 1.5rem;

}

.analytics-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.analytics-head span{
    font-size: 1.5rem;
}

.analytics-chart small {
    font-weight: 600;
    color: #555;
    display: block;
    margin-bottom: 1rem;
}

.chart-circle {
    height: 150px;
    width: 150px;
    border-left: 10px solid transparent;
    border-right: 10px solid #1e90ff;
    border-bottom: 10px solid #1e90ff;
    border-top: 10px solid #1e90ff;
    display: grid;
    place-items: center;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 3rem;
}

.analytics-card button{
    display: block;
    padding: .6rem 1rem;
    width: 100%;
    height: 45px;
    background: #1e90ff;
    color: #fff;
    border: 1px solid #1e90ff;
    border-radius: 3px;
}

.title{
    margin-top: 85px;
    width: 65%;
    float: left;
    background-color: #fff;
    box-shadow: 10px 10px 20px #bbb;
    padding: 15px;
}

.services {
    margin-top: 480px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    text-align: center;
} 

.services .service {
    padding: 30px;
}

.services .service:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.services .service h2 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
    color: var(--secondary-color);
}

.services .service .icon img {
    max-width: 100px;
}

@media(max-width: 1068px) {
    .services {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .services {
        grid-template-columns: 1fr;
    }


.services .service {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
}

@media screen and (max-width: 768px){
    .card-box{
        float: none;
        width: 100%;
        margin: 0 auto 20px auto;
        padding: 10px 20px;
    }

    .main-content-info{
        margin-top: 130px;
    }

    .cus-num:after {
        top: 10px;
    }

    .title{
        float: none;
        width: 100%;
        margin: 20% auto;
    }

    .pro-table{
        float: none;
        width: 100%;
        margin: 0 auto;
    }    
    
    .cus-table{
        display: none;
    }

    table td{
        font-size: 14px;
    }

    .rec-h h2{
        font-size: 18px;
    }

    .rec-btn button {
        font-size: 11px;
        width: 50px;
        height: 40px;
        line-height: 40px;
    }

}

